<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  


  <div class="first">
    <p class="ion-text-center">Сорта пива</p>
    <p size="large">1. Лагер: это наиболее распространенный сорт пива, характеризующийся низкой температурой брожения и чистым, свежим вкусом. </p>
      <p>2.Эль: это сорт пива, который производится с использованием верховного брожения. Вкус эля может варьироваться от фруктового и пряного до горького и карамельного.</p>
      <p>3. Портер: это темное пиво с богатым и насыщенным вкусом, часто с нотами шоколада, кофе и сухофруктов.</p>
      <p>4. Стаут: это еще один темный сорт пива, обладающий богатым вкусом и ароматом, часто с нотами шоколада, кофе и карамели.</p>
      <p>5. ИПА (Индийский бледный эль): это сорт пива, который характеризуется высокой горечью и ароматом хмеля. ИПА может быть как светлым, так и темным.</p>
      <p>6. Вайсбир: это пшеничное пиво, которое обладает освежающим и фруктовым вкусом, часто с нотами банана и гвоздики.</p>
      <p>7. Бельгийский эль: это сорт пива, который производится в Бельгии и характеризуется высокой карбонизацией, фруктовым ароматом и сложным вкусом.</p>
      <p>8. Бочковое пиво: это пиво, которое выдерживается в деревянных бочках, что придает ему особый вкус и аромат.</p>
   
  </div>
</ion-content>
